
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 font-family: Arial, Helvetica, sans-serif;

}
a{
    text-decoration: none;
}
.navbar{
    /* position: absolute; */
    
    background-color: #fff;
    display: flex;
    justify-content:  center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 80px;
}
.containernav{
    width: 90%;
    /* background-color: greenyellow; */
    display: flex;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid rgb(209, 209, 201);
}
.lefcontent{
    padding: 5px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}
.lefcontent .logo{
    margin-left: 20px;
}
.listlink{
    /* background-color: blue; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.listlink li{
    margin-left: 20px;

}
.listlink li a{
    color:rgb(196 197 198);
}

.rigcontent{
/* background-color: blanchedalmond; */
padding: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}
 
.rigcontent .shop{
     font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}
.cercl{
    cursor: pointer;
    width: 50px; 
     height: 50px;
     margin-left:20px;
}
/* home */
.container{
 height: auto;
 
 display: flex;
 align-items: center;
 justify-content: center;
}
.contenthome{
    width: 95%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    width: 60%;
    height: 85vh;
 
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.lefthome .product{
    align-items: center;
 
 
}

.lefthome .product img{
    width: 400px;
    height: 400px; 
    border-radius:5px;
}
.lefthome .sous-product{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
   

}

.lefthome .sous-product img{
    width: 60px;
    height: 60px; 
    border-radius:5px;
    cursor: pointer;
}

.rigthhome .description{
  
 padding: 20px;
 /* width: 400px; */
 width: 65%;
 
}
.rigthhome .description h4{
    font-size: 16px;
    color: rgb(255 126 27);
    line-height: 25px;

}
.rigthhome .description p{
    color: rgb(139, 142, 145);
    margin: 20px 0px;
}

.rigthhome .description .price ,
.rigthhome .description .dolar{
font-size: 26px;
font-weight: 800;
}
.rigthhome .description .porsantage{
    font-size: 19px;
    font-weight: 800;
    background:  rgb(240, 197, 165);
 border-radius: 5px;
margin: 5px;
    }
.rigthhome .description .calc{
 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
.rigthhome .description .calc p{
    background: rgb(236, 226, 226);
    width: 45%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 3px 7px;
    border-radius: 5px;
}
.rigthhome .description .calc p .mins,
.rigthhome .description .calc p .plus{
    color:  rgb(255 126 27);
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}
.rigthhome .description .calc button{
   padding: 10px; 
   border: none;
   width: 45%;
   background-color:rgb(255 126 27) ;
   border-radius: 5px;
   cursor: pointer;
}
/* cart form */
.notification {
    background-color:rgb(255 126 27) ;
    width: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    font-size: 12px;
    height: 12px;
    margin-left: 12px;
    display: none;
}
.cartcontent{
    display: none;
    position: absolute;
    top: 100px;
    right: 50px;
  width: 330px;
  height: 230px;
  align-items: center;
  background-color:  #fff;
  border-radius: 5px;
  box-shadow: 6px 5px 25px 7px gainsboro;

}
.cartcontent .cart1{
    display: block;
    font-size: 19px;
    font-weight: 700;
    border-bottom: 1px solid rgb(188, 191, 194);
    padding: 15px;
}

.cartcontent .empty{
     margin-top: 20%;
     margin-left: 35%;
     font-size: 19px;
     font-weight: 600;
     color: rgb(188, 191, 194);
     display: none;
}

.cartcontent .notempty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cartcontent .notempty img{
    width: 50px;
}
.cartcontent .notempty .yourpric p{
    display: block;
}
.cartcontent .checkout{
    width: 90%;
    padding: 20px;
border: none;
border-radius: 7px;
position: absolute;
left:17px;
bottom: 20px;
    background: rgb(255 126 27);
}

/* chat */

/* navbar mobile */
i.menu{
    display: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
} 
.listlink .menu1{
    display: none;
    font-size: 30px;
    font-weight:  1000;
    cursor: pointer;
    
 
}
section{
    height: auto;
}
@media screen and (max-width : 800px) {
.navbar{
 
 
}
.navbar .rigcontent{
  
   position: absolute;
   right: 20px;
}
.navbar .lefcontent{
   
    justify-content: flex-start;
}
.listlink{
    display: none;
    background-color:#fff;
   flex-direction: column;
   position: absolute;
   height: 100vh;
   top: 0;
   left: 0;
   width:70%;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 20px;
   line-height: 50px;

}
.listlink li a{
    color: black;
    font-weight:  700;
    text-transform: capitalize;
}
 .listlink .menu1{
    display: block;
  margin-left: 22px;
    font-weight:  900;

}
i.menu{
    display: block;
}

.container{
    flex-direction: column;
     width: 100%;
    
   
   } 
  .container .contenthome{
    flex-direction: column;
       width: 100%;
    
    
  }
.home .product{
    
    width: 100%;
    height: 100%;
}
 .home .product .P1{
    width: 100%;
    height: 100%;
}
.product .sous-product{
    display: none;
}
  .container .contenthome .lefthome,
  .container .contenthome .rigthhome
  {
 
width: 100%;
  }
  .rigthhome .description .calc{
    
  display: block;
  align-items: center;
  }
  .rigthhome .description .calc p ,
.rigthhome .description .calc button{
    width: 100%;
}

 
 
}
















.attribution {
     font-size: 11px;
      text-align: center; 
    }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }